/* Movies.css */

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  padding: 20px;
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}
